@font-face {
	font-family: 'FuturaRenner';
	src: url('assets/futura-renner/fonts/webfonts/FuturaRenner-Regular.woff2');
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: 'Futura', 'FuturaRenner', sans-serif;
}

a {
	color: deepPink;
}

.intro {
	position: fixed;
	left: 0;
	top: 0;
	padding: 1em;
	max-width: 33vw;
	text-shadow: 0 0 .25em black;
}
